<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" mode="ios" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Faça sua denúncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>  
    <ion-item>
      <ion-label>Setor</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option *ngFor="let secretaria of secretarias" [value]="secretaria.id">{{ secretaria.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Descrição</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Digite aqui a denúncia que você quer fazer..."></ion-textarea>
  </ion-item>
</ion-content>
